@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-center">
        <a href="@Url.Action("Index", "TTT")" class="btn btn-success play-button">Play</a>
    </div>
</div>
