html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.play-button {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #38b000; /* Jungle green */
    border: none;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    box-shadow: 3px 3px 5px #000; /* Adds a slight shadow for depth */
    transition: background-color 0.3s, transform 0.3s;
}

.play-button:hover {
    background-color: #55a630;
    transform: scale(1.05); /* Slight enlarge effect */
}

/* Container for the video to ensure it fills the background */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Places the video behind the content */
}

/* Ensure video covers entire viewport */
.video-background video {
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Ensures the video fills the viewport while keeping its aspect ratio */
}

/* Style for content layered over the video */
.content {
    position: relative;
    z-index: 1; /* Place content above the video */
    color: white; /* Adjust color for readability against video background */
    text-align: center;
    margin-top: 20vh; /* Center content vertically */
}




.display-4 {
    color: #38b000;
}

.claimed-x {
    background-color: #ac4343;
}

.claimed-o {
    background-color: #45a0aa;
}

.tied-grid {
    background-color: #626262;
}

.restricted-grid {
    background-color: #72ad57;
}

.grid {
    border: none;
}

.board {
    background-color: rgba(255,100,255,0.3);
    border: 3px solid purple;
}

.decorative-background {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(240, 240, 255, 0.9));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}